.animate-init {
  transform: translateX(100%);
  transition: transform 300ms;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  left: 0;
}
// app 头部
.app-header .animate-init{
    height: 96%;
}

// iphoneX 头部
.iphoneX-header .animate-init{
    height: 90%;
}

.animate-start {
  transform: translateX(0);
}